﻿.gps-table {
    margin-top: 60px;
}

.gps-table-th {
    font-size: 20px;
    font-weight: 600;
    color: #B1B0B0 !important;
    line-height: 44px !important;
    text-decoration: none !important;
    text-align: center !important;
}

.gps-table-td {
    border-bottom: 1px solid #e5e3e3 !important;
    padding: 8px !important;
    line-height: 40px !important;
    vertical-align: middle !important;
    font-size: 16px;
}
