﻿<h1 id="pageTitle">Welcome to LoadGpsInfo</h1>

<table class="table table-striped table-bordered table-hover table-condensed gps-table">
    <thead>
        <tr>
            <th class="gps-table-th">Name</th>
            <th class="gps-table-th">Description</th>
            <th class="gps-table-th">Creation Date</th>
            <th class="gps-table-th">Queried Date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="gps in gpsList">
            <td class="gps-table-td">{{gps.name}}</td>
            <td class="gps-table-td">{{gps.description}}</td>
            <td class="gps-table-td">{{gps.creationDate | date:"MM/dd/yyyy"}}</td>
            <td class="gps-table-td">{{gps.queriedDate ? (gps.queriedDate | date: 'mediumDate'): "--"}}</td>
        </tr>
    </tbody>
</table>
