﻿<!DOCTYPE html>
<html lang="en" ng-app="LoadGpsInfo" ng-controller="parentController">
    <head>
        <meta charset="utf-8">
        <title>LoadGpsInfo - {{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link href="/assets/bootswatch.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="assets/styles/custom.css">
    </head>
    <body>
        <script src="/assets/fbsdk.js"></script>
        <script src="/assets/googlesdk.js"></script>
        <script src="/assets/le.min.js"></script>        
        <script src="/assets/logentriessdk.js"></script>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="../" class="navbar-brand">Load GPS Info</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li ng-model="menu" ng-repeat="items in menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:" >{{items.display}}<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="themes" ng-model="items" ng-repeat="item in items.features">
                                <li>
                                    <a ng-href="#{{item.route}}">{{item.display}}</a>
                                </li>                
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right" ng-show="user">
                        <li><a>Welcome, {{user.name}}</a></li>
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>

                </div>
            </div>
        </div>

        <div style="height: 70px;"></div>

        <div class="container">
            
            <div ng-view></div>
            
            <div style="height: 70px;"></div>

            <!--<footer>
                <div class="row">
                    <div class="col-lg-12">

                        <ul class="list-unstyled">
                            <li><a href="http://news.bootswatch.com" onclick=" pageTracker._link(this.href); return false; ">Blog</a></li>
                            <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                            <li><a href="https://twitter.com/thomashpark">Twitter</a></li>
                            <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                            <li><a href="../help/#api">API</a></li>
                            <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=F22JEM3Q78JC2">Donate</a></li>
                        </ul>
                        <p>Made by <a href="http://thomaspark.me" rel="nofollow">Thomas Park</a>. Contact him at <a href="mailto:thomas@bootswatch.com">thomas@bootswatch.com</a>.</p>
                        <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
                        <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

                    </div>
                </div>
            </footer>-->
        </div>            
        
        <script src="/assets/jquery-1.10.2.min.js"> </script>
        <script src="/assets/bootstrap-3.1.1-dist/js/bootstrap.min.js"> </script>    
        <script src="/assets/angular.min.js"> </script>
        <script src="/assets/angular-route.js"> </script>   
        <link href="assets/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" /> 
        <script src="assets/bootstrap-multiselect/bootstrap-multiselect.js"></script>     
        <script src="/app/app.js"> </script>
        
        <!--controllers-->
        <script src="/app/controllers/loginController.js"> </script>
        <script src="/app/controllers/forgotPasswordController.js"> </script>
        <script src="/app/controllers/resetPasswordController.js"> </script>
        <script src="/app/controllers/registrationController.js"> </script>
        <script src="/app/controllers/homeController.js"> </script>
        <script src="/app/controllers/parentController.js"> </script>
        <script src="app/controllers/profileController.js"></script>

        <!--services-->        
        <script src="/app/services/httpq.js"> </script>
        <script src="/app/services/loginService.js"> </script>
        <script src="/app/services/userService.js"> </script>
        <script src="/app/services/accountService.js"> </script>
        <script src="/app/services/facebookService.js"></script>
        <script src="/app/services/googleService.js"></script>
        <script src="/app/services/homeService.js"></script>
        <script src="app/services/adminService.js"></script>
        <script src="app/services/menuService.js"></script>
        <script src="app/services/userAbilitiesService.js"></script>
        <script src="app/services/gpsService.js"></script>

        <!--directives-->
        <script src="app/directives/multiselect-dropdown.js"></script>

        <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

        <script type="text/javascript">
            
            window.onerror = function(msg, url, line) {
                LE.error({ message: msg, url: url, line: line });
                var suppressErrorAlert = true;
                return suppressErrorAlert;
            };

        </script>

    </body>
</html>